.banner-img{
    max-height:400px;
    object-fit:cover;
}

.shop-header{
    background:#f8f9fa;
}

.product-card{
    border-radius:15px;
    overflow:hidden;
    transition:0.3s;
}

.product-card:hover{
    transform:translateY(-5px);
}

.product-image{
    height:250px;
    object-fit:cover;
}

.product-name{
    font-size:18px;
    font-weight:700;
}

.product-price{
    color:#198754;
    font-size:20px;
    font-weight:bold;
}

.no-image-box{
    height:250px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#f1f1f1;
    color:#888;
}

@media(max-width:768px){

    .banner-img{
        max-height:220px;
    }

    .product-image{
        height:200px;
    }

}