
{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login d-flex justify-content-center align-items-center vh-100 flex-column">

    {% if messages %}
        <div class="w-100 d-flex justify-content-center mb-3">
            <div style="width: 20rem;">
                {% for message in messages %}
                    <div class="alert alert-danger text-center shadow-sm">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- LOGIN CARD -->
    <div class="card p-4 shadow-sm" style="width: 20rem;">

        <h3 class="text-center mb-4">Sign in</h3>

        <form method="post" autocomplete="off">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="username" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">
                    Login
                </button>
            </div>

        </form>

    </div>
</div>

{% endblock %}